/* GENERAL RULES */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

.flex-1 {
    flex: 1;
}

.flex-1 {
    display: flex;
}

.row {
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: #6030b1
}

section:nth-child(even) {
    background-color:rgb(235, 232, 234)
}

.container {
    padding: 50px 0;
}

.section__title {
    margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    padding: 0px 28px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: black;
    text-decoration: none; 
    /* Line above removes the underline */
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
} 

.nav__link--anchor-primary:hover {
    background-color: rgb(176, 23, 247);
}

.personal__logo {
    font-size: 24px;
    font-weight: 700;
    color: #6030b1;
    margin: 0 12px;
}

/* ABOUT ME */

#aboutme {
    min-height: 100vh;
    font-display: auto;
    display: flex;
    flex-direction: column;
}

.aboutme__info {
    display: flex;
    flex-direction: column;
}

.aboutme__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.aboutme__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    margin-bottom: 28px;
}

.aboutme__picture {
    width: 100%;
    /* improving picture */
    transform: scale(1)
}

.aboutme__info--title {
    margin-bottom: 24px;
}

.aboutme__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

.aboutme__link {
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
}

.aboutme__img--container {
    flex: 1;
    align-items: center;
}

.aboutme__img {
    width: 100%;
}

/* TEXT STACK */

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms  ease; 
}

.language__img--slightsmall {
    width: 85%;
}

.language__img--bumpup {
    padding-bottom: 10px;
}

.HTML__orange {
    color:rgb(233, 110, 16)
}

.CSS__blue {
    color:rgb(58, 58, 176)
}

.JS__yellow {
    color:#d5c000
}

.react__lightblue {
    color: rgb(6, 92, 120)
}

.java__darkred {
    color:rgb(141, 20, 32)
}

.java__darkblue {
    color:rgb(6, 92, 120)
}


.python__lightyellow {
    color: #d5c000
}

.python__lightblue {
    color: rgb(6, 92, 120)
}

.language__text--padding {
    padding-right: 22px;
}

.language__text--paddinglarge {
    padding-right: 42px;
}

.vim__green {
    color: rgb(6, 103, 6);
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.85;
    transform: scale(90%);
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
}

.language__list {
    display: flex;
    flex-wrap: wrap;
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
    font-weight: 700;
    opacity: 0;
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}